<h1>Ruby App using Sinatra Gem</h1>
<h2>On Bootstrap Template</h2>
<form method="POST" action="/number">
	<label for="number">Generate Random Number</label>
	<input type="text" id="number" name="number"/>
	<input type="submit" class="btn btn-large btn-primary" value="View Number"/>
</form>
